<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.medicine">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ORGANIZER"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.user.medicine.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.user.medicine.ListActivity" />
        <activity android:name="com.example.user.medicine.AddActivity" />
        <activity android:name="com.example.user.medicine.EditActivity" />
        <activity android:name="com.example.user.medicine.SearchActivity"></activity>
        <receiver android:name="com.example.user.medicine.AlarmNotificationReceiver"></receiver>
    </application>

</manifest>